@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');
// css reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #f0f2f5 ;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    width: 100%;
    height: auto;
}

main {
     width: 70%;
     margin: auto;
     max-height: 100vh;

}
#facebook {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    // flex-wrap: wrap;
    .fb-items {
        // flex-basis: 50%;

        img{
            height: 106px;
            margin-left: -116px ;
        }
        h2{
            font-size: 24px;
            font-weight: 400;
            margin: 0;
        }
        .box {
            align-items: center;
            background-color: #fff;
            border: none;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
            box-sizing: border-box;
            margin: 100px 0 0px;
            padding: 15px 30px;
            width: 396px;
            max-width: 100%;


            form{
                input{
                    width: 100%;
                    padding: 12px 15px;
                    margin: 10px 0;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    font-size: 18px;

                }

                input:focus {
                    border: 0.5px solid #1877f2;

                }
                .pass{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    position: relative;

                    i{
                        font-size: 22px;
                        position: absolute;
                        right: 2px;
                        width: 50px;
                        text-align: center;
                        z-index: 99999;
                        background: white;
                        
                    }
                }
                .login {
                    background: #1877f2;
                    color: #fff;
                    font-weight: 600;
                    font-size: 20px;

                }
            }
            .frgt-p{
                font-size: 14px;
                text-align: center;
                display: block;
                color: #1877f2;
                margin: 10px 0 20px;
            }
            .frgt-p:hover{
                text-decoration: underline;
            }
            hr{
                color: #ddd;
                height: 0.1px;
                margin: 10px 0;
                display: block;
            }
            .signup{
                text-align: center;
                margin: 20px 0 0px; 
                
                
                .btn{
                    background: #42b72a;
                    padding: 12px 17px;
                    border-radius:5px;
                    border: 0;
                    color: #fff;
                    font-size: 18px;
                    cursor: pointer;
                    transition: 0.5s all ease;
                }
                .btn:hover{
                    background: #36a420;
                }
            }
        }
        .bottom{
            position: relative;
            margin: 40px;
            p{
                font-size: 14px;
                a{
                    color: #111;
                    font-weight: 600;
                }
            }
        }
    }
    
}


@media  (max-width:1040px) {
    main{
        width: 91%;
        
    }
    
}
@media  (max-width:992px) {

    #facebook{
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #facebook .fb-items .box{
        width: 480px;
    }
    #facebook .fb-items .box {
        margin: 31px 0 0;
    }
    
}
@media  (max-width:576px) {

    #facebook{
        .fb-items{
            h2{
                display: none;
            }
        }
    }
    #facebook .fb-items img {
        width:220px;
        margin-left: 0 ;
    }
    #facebook .fb-items .box form input {
        font-size: 10px;
    }
    #facebook .fb-items .box{
        margin: 14px 0 0 ;
    }


    
}
